<div class="row">
    <div class="col" id="logoAP" >
        <img src="../../../assets/APLogo.png" id="logoArgentinaPrograma">
    </div>
    <div class="col" id="redes">
        <a  href="https://www.linkedin.com/in/macarena-jofre-4a2830204"><img src="../../../assets/linkedin.png"></a>
        <a href="https://github.com/MacarenaJofre23"><img src="../../../assets/github.png" id="github"></a> 
    </div>
    <div class="col" id="botonIniciar">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
             <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Session</button>
    </div>
</div>
